<ion-header class="header-Dashboard">
    <ion-toolbar class="toolbar-dashboard">
        <!-- <ion-title>Dashboard</ion-title> -->
        <ion-grid>
            <ion-row>
                <ion-col size="4" class="ion-text-center">
                    <img src="../../assets/images/IMAGEN PERFIL CABECERA.png" alt="" class="imagen-header" (click)="editar()">
                </ion-col>
                <ion-col size="8" class="ion-text-left">
                    <ion-item lines="none" style="--background: transparent;">
                        <p slot="start" style="font-size: 20px;font-weight: bold;color: white;margin: 26px 0px 0px 0px;text-transform: capitalize;">
                            {{Nombre}}</p>
                        <ion-icon style="font-size: 20px;font-weight: bold;color: white;margin: 26px 0px 0px 0px;text-transform: capitalize;" slot="end" name="exit-outline" (click)="Salir()"></ion-icon>

                    </ion-item>
                    <p style="font-size: 10px;color: white;margin-left:17px;">Último ingreso: 19/03/2021</p>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item lines="none">
            <ion-grid>
                <ion-row>
                    <ion-col size="12" class="ion-text-center">
                        <p>Plan de pagos para la solicitud de credito con <span style="color: #4F47BF;font-weight: bold;">{{Multinivel}}</span> por un valor de <span style="color: #4F47BF;font-weight: bold;">{{Monto|currency}}</span> que se pagara a
                            <span style="color: #4F47BF;font-weight: bold;">{{Meses}}</span> cuotas.
                        </p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
        <ion-item lines="none">
            <ion-row>
                <ion-col size="12" class="ion-text-left" style="color: gray;">
                    Resultados aproximados y sujetos a estudio de crédito y políticas de la entidad.
                </ion-col>
            </ion-row>
        </ion-item>
        <ion-item lines="none">
            <ion-card style="width: 100%;">
                <ion-card-header style="background: #4F47BF;color: white;" class="ion-text-center">
                    <h5>Lista de Pagos</h5>
                </ion-card-header>
                <ion-card-content>
                    <div>
                        <ion-grid style="width: 100%;">
                            <ion-row>
                                <ion-col style="background: #4F47BF;" class="ion-text-center">
                                    <p style="color:white;">N. Cuota</p>
                                </ion-col>
                                <ion-col style="background: #4F47BF;" class="ion-text-center">
                                    <p style="color:white;">Valor Cuota</p>
                                </ion-col>
                                <ion-col style="background: #4F47BF;" class="ion-text-center">
                                    <p style="color:white;">Saldo Final</p>
                                </ion-col>
                            </ion-row>
                            <ion-row *ngFor="let Cat of CatMes">
                                <ion-col>
                                    <p>{{Cat.NumeroCuota}}</p>
                                </ion-col>
                                <ion-col>
                                    <p>{{Cat.ValorCuotaConSeguro}}</p>
                                </ion-col>
                                <ion-col>
                                    <p>{{Cat.SaldoFinal}}</p>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col class="ion-text-center">
                                    <p style="font-weight: bold;">Valor Seguro: {{ValordelSeguro}}</p>
                                </ion-col>
                                <ion-col class="ion-text-center">
                                    <p style="font-weight: bold;">Tasa: 2.4%</p>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer class="ion-no-border " style="background-color: #4F47BF; ">
    <ion-toolbar class="toolbar-footer ">
        <ion-tabs style="background-color: #4F47BF; ">
            <ion-tab-bar slot="bottom " style="background-color: #4F47BF; ">
                <ion-tab-button (click)="Historial() " style="background-color: #4F47BF; ">
                    <ion-icon name="list-circle" style="font-size: 23px;color: white; "></ion-icon>
                    <ion-label style="color: white; ">Historial</ion-label>
                </ion-tab-button>

                <ion-tab-button (click)="Dashboard() " style="background-color: #4F47BF; ">
                    <ion-icon name="home" style="font-size: 23px;color: white; "></ion-icon>
                    <ion-label style="color: white; ">Home</ion-label>
                </ion-tab-button>

                <ion-tab-button (click)="Notificacion() " style="background-color: #4F47BF; ">
                    <ion-icon name="notifications" style="font-size: 23px;color: white; "></ion-icon>
                    <ion-label style="color: white; ">Notificación</ion-label>
                </ion-tab-button>
            </ion-tab-bar>
        </ion-tabs>
    </ion-toolbar>
</ion-footer>