<ion-header class="header-Dashboard">
    <ion-toolbar class="toolbar-dashboard">
        <!-- <ion-title>Dashboard</ion-title> -->
        <ion-grid>
            <ion-row>
                <ion-col size="4" class="ion-text-center">
                    <img src="../../assets/images/IMAGEN PERFIL CABECERA.png" alt="" class="imagen-header" (click)="editar()">
                </ion-col>
                <ion-col size="8" class="ion-text-left">
                    <ion-item lines="none" style="--background: transparent;">
                        <p slot="start" style="font-size: 20px;font-weight: bold;color: white;margin: 26px 0px 0px 0px;text-transform: capitalize;">
                            {{Nombre}}</p>
                        <ion-icon style="font-size: 20px;font-weight: bold;color: white;margin: 26px 0px 0px 0px;text-transform: capitalize;" slot="end" name="exit-outline" (click)="Salir()"></ion-icon>

                    </ion-item>
                    <p style="font-size: 10px;color: white;margin-left:17px;">Último ingreso: 19/03/2021</p>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>

<ion-content padding class="">

    <br>
    <ion-list style="background: transparent;">
        <ion-item lines="none" style="--background: transparent;">
            <ion-grid style="--background: transparent;">
                <ion-row>
                    <ion-col size="12" class="ion-text-center">
                        <p style="color: #4F47BF;font-size: 15px;font-family: 'Berlin';" class="ion-text-center">
                            <!-- <ion-icon name="calculator-outline" style="color: #EC268F;font-size: 19px;"></ion-icon> -->
                            <img src=" ../../assets/images/LOGO BANKEM.png " style="width: 30px;vertical-align: middle;">Productos
                        </p>
                        <hr style="color: #4F47BF;border: solid 0.5px #4F47BF">
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
        <ion-card class="card-dashboard" (click)="Credito()">
            <ion-card-content>
                <ion-grid>
                    <ion-row>
                        <ion-col col-3>
                            <img src="../../assets/images/IMAGEN 1.png" alt="" class="imagen-dashboard">
                        </ion-col>
                        <ion-col col-9>
                            <p style="margin-top: 43px !important; margin-left: 14px !important;color: #4F47BF;font-size: 15px;font-weight: bold;">
                                Mi CrediKemba </p>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>
        <ion-card class="card-dashboard">
            <ion-card-content>
                <ion-grid>

                    <ion-row>
                        <ion-col col-9>
                            <p style="margin-top: 43px !important; margin-left: 14px !important;color: #4F47BF;font-size: 15px;font-weight: bold;">
                                Mi EcoAhorro</p>
                        </ion-col>
                        <ion-col col-3>
                            <img src="../../assets/images/IMAGEN 2.png" alt="" class="imagen-dashboard">
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>
        <ion-card class="card-dashboard" (click)="Productos()">
            <ion-card-content>
                <ion-grid>
                    <ion-row>
                        <ion-col col-3>
                            <img src="../../assets/images/IMAGEN 3.png" alt="" class="imagen-dashboard">
                        </ion-col>
                        <ion-col col-9>
                            <p style="margin-top: 43px !important; margin-left: 14px !important;color: #4F47BF;font-size: 15px;font-weight: bold;">
                                Kemba-Elerning</p>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>
    </ion-list>
</ion-content>
<ion-footer class="ion-no-border" style="background-color: #4F47BF;">
    <ion-toolbar class="toolbar-footer">
        <ion-tabs style="background-color: #4F47BF;">
            <ion-tab-bar slot="bottom" style="background-color: #4F47BF;">
                <ion-tab-button (click)="Historial()" style="background-color: #4F47BF;">
                    <ion-icon name="list-circle" style="font-size: 23px;color: white;"></ion-icon>
                    <ion-label style="color: white;">Historial</ion-label>
                </ion-tab-button>

                <ion-tab-button (click)="Dashboard()" style="background-color: #4F47BF;">
                    <ion-icon name="home" style="font-size: 23px;color: white; "></ion-icon>
                    <ion-label style="color: white; ">Home</ion-label>
                </ion-tab-button>

                <ion-tab-button (click)="Notificacion() " style="background-color: #4F47BF;">
                    <ion-icon name="notifications" style="font-size: 23px;color: white; "></ion-icon>
                    <ion-label style="color: white; ">Notificación</ion-label>
                </ion-tab-button>
            </ion-tab-bar>
        </ion-tabs>
    </ion-toolbar>
</ion-footer>